* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 4%;
}

header {
  padding: 20px 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400;
  height: 20;
  gap: 77px;
  opacity: 1;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  align-items: center;
  width: 537;
  height: 54;
  gap: 77px;
  opacity: 1;
}

h1 {
  font-family: Roboto;
  font-weight: 600px;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  width: 305px;

  opacity: 1;
  color: #5c5c5c;
  text-align: left;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  padding-left: 70px;
  text-align: left;
}

.container {
  width: 1440;
  height: 1025;
  padding-top: 83px;
  padding-bottom: 83px;
  gap: 50px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-seqtion {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.pozition {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  width: 387;
  height: 471;
  opacity: 1;
  border-top-left-radius: 193.5px;
  border-top-right-radius: 193.5px;
}

.button,
.main-button,
.last-button {
  width: 386;
  height: 65;
  gap: 10px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 60px;
  background-color: rgb(229, 120, 110);
  color: white;
  border: none;
}

.img-button {
  width: 100%;
  height: 50px;
  bottom: 0;
  background: #c2c4db;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  color: rgb(246, 239, 239);
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  border: none;
  position: absolute;
}

.last-section {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #5c5c5c;
  flex-wrap: wrap;
}
.last-section h1 {
  text-align: left;
  margin-top: 20%;
}

.color {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.last-button {
  background-color: #e6897c;
  border: none;
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 1440;
  height: 284;
  gap: 20px;
  opacity: 1;
  padding-top: 52px;
  padding-right: 28px;
  padding-bottom: 52px;
  padding-left: 28px;
  background-color: #e4cbc866;
  margin: 2% 0;
  flex-wrap: wrap;
}

h5 {
  width: 125px;
  height: 20px;
  opacity: 1;
  top: 115px;
  left: 60px;
  text-decoration: none;
  color: #b1b0ac;
}

.icons {
  width: 124px;
  height: 28px;
  gap: 20px;
  opacity: 1;
  top: 144px;
  left: 61px;
}

a {
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
  color: rgb(77, 74, 74);
}

a span {
  width: 10.606666564941406px;
  height: 6.4816670417785645px;
  position: relative;
  top: 6.85px;
  left: 4.7px;
  display: flex;
  align-items: center;
}

a span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.flex {
  display: flex;
  gap: 183px;
  flex-wrap: wrap;
}
.shop {
  text-align: center;
  margin: 0 70px;
}
.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.center p {
  width: 816px;
  font-family: Roboto;
  font-weight: 200;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-align: center;
  color: #5c5c5c;
  text-decoration: #5c5c5c;
  margin: 2%;
}
.about {
  background-color: #979bd033;
  width: 100%;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 70px;
}
.contact-wrapper {
  display: flex;
  gap: 40px;
  padding: 50px 70px;
  align-items: center;
  justify-content: center;
}

.contact-img {
  width: 363px;
  height: 489px;
  object-fit: cover;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 365px;
  height: 488px;
}

.contact-form h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Roboto;
  font-size: 14px;
  width: 100%;
}

.contact-form input {
  height: 40px;
}

.contact-form textarea {
  height: 300px;
  resize: none;
}
@media  (max-width:800px) {
  .nav img {
  max-width: 100%;

  }
  .last-section img {
    max-width: 100%;
  }
.nav {
 gap: 5px; 
}
}